.bored-app {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: $normalweight;

	.bored-header {
		font-size: 40px;
		font-weight: $heavyweight;
		margin: 0 auto;
		padding-top: 7%;
		text-align: left;
		width: $lg-card-width;

		img {
			height: 50px;
		}

		span {
			margin-left: 10px;
		}
	}

	.bored-search {
		margin: auto;
		width: $lg-card-width;

		.btn {
			margin-bottom: 10px;
		}

		.todays-date {
			font-size: 24px;
			font-weight: $normalweight;
			padding: 10px 0;
			text-align: right;
		}

		.search-bar {
			.dropdown {
				width: 100%;

				&:focus-within {
					.dropdown-menu {
						display: block;
					}
				}

				.dropdown-menu {
					display: none;
					width: 100%;
				}
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.bored-app {
		header {
			font-size: 32px;
			margin: 10px 0;
		}

		.bored-body {
			margin: 10px;
		}

		.bored-search {
			max-width: 100%;
		}
	}
}
