.bored-app {
	text-align: center;
	font-family: 'Noto Sans', sans-serif;

	header {
		align-items: center;
		color: #000000;
		font-size: 40px;
		font-weight: bold;
		justify-content: center;
		margin: 20px 0;

		img {
			height: 50px;
		}

		span {
			margin-left: 10px;
		}
	}

	.bored-search {
		margin: auto;
		width: $lg-card-width;

		.btn {
			margin-bottom: 10px;
		}

		.dropdown {
			width: 100%;

			&:focus-within {
				.dropdown-menu {
					display: block;
				}
			}

			.dropdown-menu {
				display: none;
				width: 100%;

				.dropdown-item.active {
					background-color: #e9ecef;
					color: #1e2125;
				}
			}
		}
	}

	.todays-date {
		padding: 10px 0;
	}
}

@media only screen and (max-width: 600px) {
	.bored-app {
		header {
			font-size: 32px;
			margin: 10px 0;
		}

		.bored-body {
			margin: 10px;
		}

		.bored-search {
			max-width: 100%;
		}
	}
}
