.card {
	border-radius: 5px;
	border: 1px solid;
	margin: 10px auto 20px auto;

	.btn {
		margin: 10px 0;
	}

	.card-title {
		font-size: 25px;
		font-weight: $heavyweight;
		margin-top: 3px;

		a {
			color: unset;
			text-decoration: none;
		}
	}
}

@media only screen and (max-width: 600px) {
	.card {
		max-width: 100%;
	}
}
